.git
.env
**.DS_Store
.python-version
Pipfile
Pipfile.lock
airflow_settings.yaml

# Byte-compiled / optimized / DLL files
**__pycache__
.idea/

# config credentials
include/great_expectations/uncommitted/*
!include/great_expectations/uncommitted/.gitkeep

# Jupiter notebook related
.ipynb_checkpoints
*.ipynb
!create_expectations-template.ipynb
!validation_playground-template.ipynb

# temp data
include/great_expectations/temp/